input[type=radio] {
  display:none;
}


input[type=radio] + .radio-btn-label {
  display:inline-block;
  background-image: url('../../../../../../sprites/form-elements-sprite.png');
  background-position: -581px -242px;
}

input[type=radio]:checked + .radio-btn-label {
  background-position: -811px -242px; 
}